QASSAS_ENVIRONMENT=test
QASSAS_RELEASE_ID=test-unset
QASSAS_SERVICE_VERSION=0.0.1
QASSAS_REQUIRED_MIGRATION=202609240022_institution_admin_activation_ticket.sql

QASSAS_DB_NAME=qassas
QASSAS_DB_USER=qassas
QASSAS_DB_PASSWORD=qassas-test-db-7c2f6a

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=qassas-test-keycloak-91d4a8
KEYCLOAK_ISSUER=http://keycloak:8080/realms/qassas-pilot
KEYCLOAK_API_CLIENT_ID=qassas-api

OPA_URL=http://opa:8181

TEMPORAL_ADDRESS=temporal:7233
TEMPORAL_NAMESPACE=qassas-test
TEMPORAL_TASK_QUEUE=qassas-decision-review
TEMPORAL_DB_USER=temporal
TEMPORAL_DB_PASSWORD=qassas-test-temporal-2d8c71

POSTGIS_IMAGE=postgis/postgis:18-3.6
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.4
OPA_IMAGE=openpolicyagent/opa:1.20.2
TEMPORAL_IMAGE=temporalio/server:1.32.0
TEMPORAL_ADMIN_TOOLS_IMAGE=temporalio/admin-tools:1.32.0
TEMPORAL_DB_IMAGE=postgres:16.15-alpine3.23

OUTBOX_PUBLISHER_ENABLED=true
OUTBOX_PUBLISH_INTERVAL_MS=1000
OUTBOX_PUBLISH_BATCH_SIZE=25
OUTBOX_CLAIM_TIMEOUT_SECONDS=300

QASSAS_TEST_P95_LATENCY_MS=1000
QASSAS_TEST_MAX_5XX_RATIO=0.01
