QASSAS_DB_HOST=127.0.0.1
QASSAS_DB_NAME=qassas
QASSAS_DB_USER=qassas
QASSAS_DB_PASSWORD=change-me
QASSAS_DB_PORT=5432
DATABASE_URL=

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_PORT=8080
OPA_PORT=8181
TEMPORAL_PORT=7233

POSTGIS_IMAGE=postgis/postgis:18-3.6
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.4
OPA_IMAGE=openpolicyagent/opa:latest
TEMPORAL_IMAGE=temporalio/auto-setup:latest
